--extra-index-url https://download.pytorch.org/whl/cpu
torch
sentence-transformers
chromadb
rank-bm25
pymupdf
watchdog
streamlit
python-dotenv
loguru
pandas

# LangChain & Gemini
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-ollama
